body {
  min-width: 1020px;
}

.login .loginLabelTable {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.login {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.login .loginButtonRow {
  margin-left: 20%;
  margin-top: 5%;
}

.login .loginFormTable {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.newUser {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.newUser .newUserFormTable {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.newUser .newUserButtonsRow {
  margin-left: 30%;
  margin-top: 5%;
}

.resetPassword {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.resetPassword .resetPasswordFormTable {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.resetPassword .resetPasswordButtonsRow {
  margin-left: 30%;
  margin-top: 5%;
}

.login .loginWithFb {
  text-align: right;
}

.formError {
  color: #C09853;
}

.required {
  margin-left: 25%;
}

#header .userDetails {
  text-align: right;
}

#header .dropdown-menu {
  text-align: right;
  float: right; 
  right: 0; 
  left: auto;
  width: 50px;
}

#footer {
  position:absolute;
  bottom:0;
  width: 100%;
  height:60px;   /* Height of the footer */
}

#footer div {
  width: 30%;
  margin-left: auto;
  margin-right: auto;	
}
