.welcome {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.welcome button {
  margin-left: 60px;
}

.welcome table {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}