.welcome {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.welcome button {
  margin-left: 60px;
}

.welcome table {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#footer {
   position:absolute;
   bottom:0;
   width: 100%;
   height:60px;   /* Height of the footer */
}

#footer div {
   width: 30%;
   margin-left: auto;
   margin-right: auto;	
}